body {
    background-color: lightgrey;
}
h1 {
    background-color: black;
    font-size: 100px;
    text-align: center;
    font-family: fantasy;
    color: white;
    padding-top: 50px;
    display: block;
}
.photo {
    display: block;
    margin: auto;
    width: 1000px;
    height: 500px;
    border-radius: 10%;
    border: solid red;
    border-width: 20px;
}
.best {
    font-size: 75px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: white;
    font-style: italic;;
}
ul {
    font-size: 50px;
}